# Android Keystore Properties
# This file contains sensitive signing credentials.
# DO NOT commit this file to version control!

storeFile=munal-release.keystore
storePassword=CHANGE_THIS_PASSWORD
keyAlias=munal
keyPassword=CHANGE_THIS_PASSWORD
